.cocktail-list {
  padding-bottom: 80px;
  .container {
    h2 {
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 50px;
      color: #fff;
      font-size: 32px;
      letter-spacing: 4px;
    }
    .box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
